{% extends "layout.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    function submit() {
        var filename = $("#iname").val();
        if(filename){
            $.ajax({
                data: {
                    filename : filename,
                },
                type : 'POST',
                url : '/search'
            })
            .done(function(data){
                $("#imgdiv").empty();
                for(var i in data.images){
                    var image = "<img src=\"/static/image/".concat(data.images[i], "\" height=\"100px\" width=\"100px\">");
                    $("#imgdiv").append("<br/><br/>").append(image);
                }
            });
            event.preventDefault();
        }
    }
</script>
<div id="div" class="content">
    <p>Put the image to be queried in static/image folder and type the filename of the image</p>
    <input id="iname" type="text" name="iname">
    <button id="submit" onclick=submit()>Submit</button>
    <div id="imgdiv"></div>
</div>

{% endblock content%}